{% extends "base.html" %} 
{% load static %}
{% block content %}
<section class="main-center">
  <h1>
    <span class="grey">></span><span id="intro-h1"> Abdulhakeem Adamu </span>
    <span class="blink">|</span>
  </h1>
  <p>Hey, I am Abdulhakeem Adamu, a full-stack web developer.</p>
  <p>
    Building simple, beautiful and interactive user experiences is where my
    passion lies. You can find my full projects list here.
  </p>
  <p>
    Interactivity is the lifeblood of a website. It's what keeps visitors
    engaged and coming back for more.
  </p>
  <p>
    Outside of programming, I enjoy playing chess and Farming and Learning new
    things. If you happen to be in the same city I live, maybe we can hang out
    and code together.
  </p>
</section>

{% endblock content %}
