{% extends "base.html" %} 
{% load static %}
{% block content %}
    <main class="projects-main">
      <section class="outer-container">
        {% for project in projects %}
        <section class="project-container">
          <img src=" /media/{{project.image}} " alt="project 1" srcset="" />
          <h2>title: {{project.title}}</h2>
          <p>{{project.description}}...</p>
          <section class="project-links">
            <button><a href="{{project.live_link}}">Live Link</a></button>
            <button><a href="{{project.github_link}}">Github Link</a></button>
          </section>
        </section>
        {% endfor %}
      </section>
    </main>
{% endblock content %}
