{% extends "base.html" %} 
{% load static %}
{% block content %}
    <main class="main-skill">
      <section class="skill-section">
        <a href="index.html"> home</a>
        <p><span class="console">$</span> pip3 install Abdulhakeem</p>
        <p><span class="console">$</span> python3</p>

        <p><span class="console">>>></span> import Abdulhakeem</p>
        <p><span class="console">>>></span> Abdulhakeem.contactInfo</p>
        <p>
          {<br />
          "Instagram" : "https://www.instagram.com/dkeemz",<br />
          "LinkedIn" :"https://www.linkedin.com/dkeemz"<br />
          }
        </p>
        <p><span class="console">>>></span> Abdulhakeem.interests</p>
        <p>["chess", "Call of duty", "Nature"]</p>
        <p><span class="console">>>></span> Abdulhakeem.education</p>
        <p>["B.Eng. Computer Engineering - ABU, Zaria"]</p>
        <p><span class="console">>>></span> Abdulhakeem.skills</p>
        <p>["JavaScript", "Python", "Django", "React","kivy","kivymd"]</p>
        <p>
          <span class="console">>>></span><span class="blink blinks"> | </span>
        </p>
      </section>
{% endblock content %}
